body {
    background: linear-gradient(to bottom,purple, red, yellow, purple, blue, black);
    min-height: 140vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
}
p {
    font-size:  50px;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}